/*---------------Typefaces---------------*/
@font-face {
  font-family: "Soehne Book";
  src: url("../css/fonts/soehne-breit-test-buch.woff") format("woff");
}

@font-face {
  font-family: "Soehne Light";
  src: url("../css/fonts/soehne-breit-test-leicht.woff") format("woff");
}

@font-face {
  font-family: "Soehne Bold";
  src: url("../css/fonts/soehne-breit-test-dreiviertelfett.woff") format("woff");
}

@font-face {
  font-family: "Grand Slang Logo";
  src: url("../css/fonts/grandslang-roman-webfont.woff2") format("woff2"),
    url("../css/fonts/grandslang-roman-webfont.woff") format("woff");
}

@font-face {
  font-family: "Grand Slang";
  src: url("../css/fonts/grandslang-italic-webfont.woff2") format("woff2"),
    url("../css/fonts/grandslang-italic-webfont.woff") format("woff");
}

/*---------------Base CSS---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.css-selector {
  background: linear-gradient(224deg, #f3dbe0, #d5dcf3, #e6b984, #eeeab0);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 55s ease infinite;
  -moz-animation: AnimationName 55s ease infinite;
  animation: AnimationName 55s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 83% 0%;
  }
  50% {
    background-position: 18% 100%;
  }
  100% {
    background-position: 83% 0%;
  }
}

/*---------------Text Styles---------------*/
h1 {
  font-family: "Grand Slang", "Times New Roman", Times, serif;
  font-weight: unset;
  font-size: 48px;
}

h2 {
  font-family: "Soehne Bold", Arial, Helvetica, sans-serif;
  font-weight: unset;
  font-size: 48px;
  text-transform: uppercase;
}

h3 {
  font-family: "Grand Slang", "Times New Roman", Times, serif;
  font-weight: unset;
  font-size: 72px;
  text-transform: lowercase;
}

p {
  font-family: "Soehne Book", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #22222f;
}

a:hover {
  font-family: "Grand Slang", "Times New Roman", Times, serif;
  font-size: 32px;
  text-transform: lowercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button:hover {
  background-color: #f3dbe0;
}

/*---------------Desktop Styles---------------*/

.top-navigation {
  display: block;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 15px 25px;
  border-bottom: 1px solid #22222f;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto;
}

.logo {
  font-family: "Grand Slang Logo", "Times New Roman", Times, serif;
  font-size: 32px;
  text-transform: lowercase;
}
.small-button {
  margin-top: 50px;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: white;
  font-family: "Soehne Book", Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.quotes-section {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}

li {
  list-style-type: none;
  margin: 20px 0;
  text-align: right;
}

.ae-title {
  margin-left: 50px;
  margin-top: 50px;
}

.instructions {
  margin-left: 50px;
}

.main {
  display: grid;
  width: 100%;
}

.categories {
  grid-area: 1/1/2/2;
  display: block;
  max-width: 50%;
  margin-left: 50px;
  margin-top: 10px;
}

.final-step {
  grid-area: 1/2/2/3;
  max-height: 50px;
  position: absolute;
  right: 50px;
  top: 230px;
  display: flex;
  flex-direction: column;
}

/* <------Form------> */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: #b19cd9;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  border-radius: 30px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 20px 40px;
  font-family: "Soehne Bold", Arial, Helvetica, sans-serif;
  font-weight: unset;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
}

.form-body {
  padding: 20px 40px;
}

label {
  font-family: "Soehne Bold", Arial, Helvetica, sans-serif;
  font-weight: unset;
  font-size: 10px;
  text-transform: uppercase;
}

input {
  font-family: "Soehne Book", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  padding-left: 5px;
  margin: 10px 0;
  min-height: 30px;
  min-width: 200px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#submit {
  width: 100%;
}
