/*---------------Typefaces---------------*/
@font-face {
  font-family: "Soehne Book";
  src: url("../css/fonts/soehne-breit-test-buch.woff") format("woff");
}

@font-face {
  font-family: "Soehne Light";
  src: url("../css/fonts/soehne-breit-test-leicht.woff") format("woff");
}

@font-face {
  font-family: "Soehne Bold";
  src: url("../css/fonts/soehne-breit-test-dreiviertelfett.woff") format("woff");
}

@font-face {
  font-family: "Grand Slang";
  src: url("../css/fonts/grandslang-italic-webfont.woff2") format("woff2")
    url("../css/fonts/grandslang-italic-webfont.woff") format("woff");
}

/*---------------Base CSS---------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px;
  margin: 10px auto;
}

li {
  padding: 10px;
  text-align: center;
}

h1 {
  font-family: "Grand Slang";
  text-transform: lowercase;
  font-size: 32px;
}

h2 {
  font-family: "Soehne Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Soehne Book", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
